:root {
  --lavender: #E7D0FF; /* Background */
  --red: #D60000; /* Accent 1 */
  --purple: #9B2D8C; /* Accent 2 */
  --charcoal: #333333; /* Text */
  --pink: #F77F7F; /* Highlight */
}

* {
  box-sizing: border-box;
}

* {
  border: 1px solid red;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
  background-color: var(--lavender);
}
